.directions {
  outline: 2px solid red;
  background-image: url(../../image/flowers-group.png);
  background-position: right;
  background-repeat: no-repeat;
}

.directions__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.direction__item {
  outline: 3px solid rgba(0, 255, 213, 0.418);
  outline-offset: -3px;

  width: 250px;
  height: auto;

  text-align: left;
}

.direction__item:first-child {

}

.direction__title {
  font-family: "Abhaya Libre", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.direction__timetable {
  line-height: 20px;
}

.instructor__word,
.instructor__link {
  color: var(--rose);
}


.direction__icon {
  background-color: var(--background);
  width: 45px;
  height: 30px;

  &:hover {
    opacity: 0.8;
    box-shadow:
    0 0 0 3px var(--white),
    0 0 0 6px var(--background);
  }

  &:focus {
    background-color: var(--rose);
    box-shadow:
    0 0 0 3px var(--white),
    0 0 0 6px var(--rose);
  }

  &:active {
    background-color: var(--rose-darker);
    // opacity: 0.5;
    box-shadow:
    0 0 0 3px var(--white),
    0 0 0 6px var(--rose-darker);
  }
}
