.intro__slogan {
  font-family: "Caveat", cursive;
  font-size: 45px;
}

.intro__title {
  font-size: 265px;
  letter-spacing: 0.2em;
  color: var(--white);
  text-shadow: 0px 0px 50px rgba(123, 121, 161, 0.75);
  text-transform: uppercase;
}

.intro__invite {
  color: var(--rose);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

}

