.period__list {
  color: var(--rose);
}

.period__item--active {
  text-decoration: underline;
}

.category__title {
  font-family: "Abhaya Libre";
  font-weight: 700;
  font-size: 18px;
}

.category__price {
  font-size: 30px;
  font-weight: 700;
}

.central__title {
  font-size: 30px;
  font-weight: 700;
}

.central__price {
  font-size: 45px;
  font-weight: 700;
}

.category__button {
  color: var(--white);
  background-color: var(--fonts);
  border: none;
}

.subscriptions-button {
  padding: 16px 40px 16px 54px;

  &:hover {
    // outline: 3px solid #FFFFFF;
    outline: none;
    box-shadow:
      0 0 0 3px var(--white),
      0 0 0 6px var(--fonts);
    // background-image: linear-gradient(white, lightgrey);
  }

  &:focus {
    background-color: var(--grey);
    box-shadow:
    0 0 0 3px var(--white),
    0 0 0 6px var(--grey);
  }

  &:active {
    background-color: var(--rose-darker);
    box-shadow:
    0 0 0 3px var(--white),
    0 0 0 6px var(--rose-darker);
  }
}
