.card__name {
  font-family: "Abhaya Libre", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.card__experience {
  font-size: 14px;
  color: var(--rose);
}


.card__button {
  background-color: var(--fonts);
  border: none;
}
