:root {
  --grey: rgba(142, 128, 169, 0.502);
  --rose: #e65c7b;
  --rose-darker: rgba(230, 92, 123, 0.5);
  --white: #ffffff;



  --background: #8373A1;
  --copyright: rgba(255, 255, 255, 0.5);
  --disabled: #998b8b;
  --fonts: #8e80a9;
  --intro: rgba(123, 121, 161, 0.75);
  --main-nav: #ECE7EC;
  --nav: #8B7EAC;
}
